<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">姓</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="姓">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputLastName">名</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="名">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">邮箱</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="邮箱">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputWebsite">网站</label>
      <input type="text" class="form-control" id="inputWebsite" placeholder="网站">
    </div>
  </div>
</div>
<button type="submit" class="btn btn-primary">提交</button>
