i {
  font-size: 20px;
}
.btn-danger {
  background: none;
  color: #d9534f;
}
.btn-danger:hover {
  color: darken(#d9534f,10%);
}
.btn-danger:active {
  color: darken(#d9534f,20%);
}
.btn-success {
  background: none;
  color: #5cb85c;
}
.btn-success:hover {
  color: darken(#5cb85c,10%);
}
.btn-success:active {
  color: darken(#5cb85c,20%);
}

a{
  float: left;
}
