<!-- 搜索框 -->
<div class="form-group search-position">
  <input class="form-control widthSize" *ngIf="config.filtering" placeholder="名字...." [ngTableFiltering]="config.filtering.name" (tableChanged)="onChangeTable(config)"/>
  <input class="form-control widthSize" *ngIf="config.filtering" placeholder="状态...." [ngTableFiltering]="config.filtering.status" (tableChanged)="onChangeTable(config)"/>
</div>
<!--  表格  -->
<ng-table [config]="config.sorting" [rows]="rows" [columns]="columns">
  (tableChanged)="onChangeTable(config)"
</ng-table>
<!-- 分页 -->
<div class="container page-position">



  <pagination
    *ngIf="config.paging"
    class="pagination-sm"
    [(ngModel)]="page"
    [totalItems]="length"
    [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    (pageChanged)="onChangeTable(config, $event)"
    (numPages)="numPages = $event"
    previousText="首页"
    nextText="下一页"
    firstText="第一页"
    lastText="尾页"></pagination>
</div>

<!--<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog modal-lg">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<h4 class="modal-title">{{title}}</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form>-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="名字">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="链接">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="图标">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="状态">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-success">保存</button>-->
<!--<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">取消</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
