<div class="widgets">

  <div class="typography-document-samples row">
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">

      <ba-card title="文字大号" baCardClass="with-scroll heading-widget">

        <div class="section-block">
          <h1>团队的官网：witdor.com </h1>

          <p>wit 是智能，智慧的意思，dor 是金龟子，甲虫的意思，意思是聪明智慧强大，甲虫看似很小，但是他可以搬动比自己大很多的东西，所以另外一层含义就是我们虽然是一个小团队，但是绝对能干大事！
        </div>
        <div class="section-block">
          <h2>团队的意义</h2>

          <p>每一个上进的年轻人都有自己的梦想，但是一个人的力量是有限的，无法与一个团体进行竞争，更别说行业内的顶级公司。
        </div>
        <div class="section-block">
          <h3>拥有的优势</h3>

          <p>目前团队成员在15人左右，涵盖了移动互联网和云计算方面的各类人才，每个人都有自己特别擅长的领域，同时还兼有其它的多项专业技能，90％以上都是复合型人才。
          </p>
        </div>
        <div class="section-block">
          <h4>未来的规划</h4>

          <p>最初大家都是想聚在一起然后通过网络或者其它地方接点单子做一做，提高自己的收入和专业技能，同时认识一些行业内的朋友和大牛！
        </div>
        <div class="section-block">
          <h5>正在做的东西</h5>

          <p>WD团队的官方网站，后台管理系统，移动端架构搭建（ios，android）,后端技术选型，前端技术选型，微服务选型.</p>
        </div>

      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">

      <ba-card title="更多的文本" baCardClass="with-scroll more-text-widget">

        <div class="section-block light-text">
          <p>最初大家都是想聚在一起然后通过网络或者其它地方接点单子做一做，提高自己的收入和专业技能，同时认识一些行业内的朋友和大牛！但是经过团体会议，了解了成员们对官网的讨论和一些建议，大家意识到外包难以聚拢人心
          </p>
        </div>
        <div class="section-block regular-text">
          <p>最初大家都是想聚在一起然后通过网络或者其它地方接点单子做一做，提高自己的收入和专业技能，同时认识一些行业内的朋友和大牛！但是经过团体会议，了解了成员们对官网的讨论和一些建议，大家意识到外包难以聚拢人心
          </p>
        </div>
        <div class="section-block upper-text bold-text">
          <p>
            最初大家都是想聚在一起然后通过网络或者其它地方接点单子做一做，提高自己的收入和专业技能，同时认识一些行业内的朋友和大牛！
          </p>
        </div>
        <div class="section-block bold-text">
          <p>
            最初大家都是想聚在一起然后通过网络或者其它地方接点单子做一做，提高自己的收入和专业技能，同时认识一些行业内的朋友和大牛！但是经过团体会议，了解了成员们对官网的讨论和一些建议，大家意识到外包难以聚拢人心，成员更换频繁，而且外包要看别人脸色，一旦有纰漏可能一年都白忙活了。
          </p>
        </div>
        <div class="section-block small-text">
          <p>每一个上进的年轻人都有自己的梦想，但是一个人的力量是有限的，无法与一个团体进行竞争</p>

          <p>每一个上进的年轻人都有自己的梦想，但是一个人的力量是有限的，无法与一个团体进行竞争</p>

          <p>每一个上进的年轻人都有自己的梦想，但是一个人的力量是有限的，无法与一个团体进行竞争</p>
        </div>

      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">

      <ba-card title="列表" baCardClass="with-scroll lists-widget">

        <div class="section-block">
          <h5 class="list-header">无序列表:</h5>
          <ul class="blur">
            <li>每一个上进的年轻人都有自己的梦想</li>
            <li>每一个上进的年轻人都有自己的梦想
              <ul>
                <li>每一个上进的年轻人都有自己的梦想
                  <ul>
                    <li>每一个上进的年轻人都有自己的梦想</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>每一个上进的年轻人都有自己的梦想</li>
            <li><span>每一个上进的年轻人都有自己的梦想</span></li>
          </ul>
          <h5 class="list-header">有序列表:</h5>
          <ol class="blur">
            <li><span>每一个上进的年轻人都有自己的梦想</span></li>
            <li><span>每一个上进的年轻人都有自己的梦想</span>
              <ol>
                <li><span>每一个上进的年轻人都有自己的梦想</span>
                  <ol>
                    <li><span>每一个上进的年轻人都有自己的梦想</span></li>
                  </ol>
                </li>
              </ol>
            </li>
            <li><span>每一个上进的年轻人都有自己的梦想</span></li>
            <li>
              <span>每一个上进的年轻人都有自己的梦想</span>
            </li>
          </ol>
          <div class="accent">每一个上进的年轻人都有自己的梦想 每一个上进的年轻人都有自己的梦想
          </div>
        </div>
      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">

      <ba-card title="文本颜色" baCardClass="with-scroll color-widget">
        <div class="section-block red-text ">
          <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想
          </p>
        </div>
        <div class="section-block yellow-text ">
          <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想
          </p>
        </div>
        <div class="section-block links">
          <p>
            每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想
          </p>
        </div>
        <div class="section-block links">
          <p><a href>活跃连击 — #209e91</a></p>

          <p class="hovered"><a href>hover链接 — #17857a</a></p>
        </div>
      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

      <ba-card baCardClass="banner-column-panel">
        <div class="banner">
          <div class="large-banner-wrapper">
            <img src="{{ ( 'app/typography/banner.png' | baAppPicture ) }}" alt=""/>
          </div>
          <div class="banner-text-wrapper">
            <div class="banner-text">
              <h1>简单的banner</h1>

              <p>简单的banner</p>

              <p>简单的banner</p>
            </div>
          </div>
        </div>
        <div class="section">
          <h2>列</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo03.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想</p>
            </div>
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo01.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想</p>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row">
            <div class="col-sm-4">
              <h4>行标题</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo04.png' | baAppPicture ) }}" alt=""/></div>
              <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想</p>
              <a href class="learn-more">查看更多</a>
            </div>
            <div class="col-sm-4">
              <h4>行标题</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo05.png' | baAppPicture ) }}" alt=""/></div>
              <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想</p>
              <a href class="learn-more">查看更多</a>
            </div>
            <div class="col-sm-4">
              <h4>Third column heading example</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo06.png' | baAppPicture ) }}" alt=""/></div>
              <p>每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想每一个上进的年轻人都有自己的梦想
              </p>
              <a href class="learn-more">查看更多</a>
            </div>
          </div>
          <div class="separator"></div>
        </div>
      </ba-card>
    </div>
  </div>

</div>
