<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card title="水平" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>

      <ba-card title="输入框组" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </ba-card>

    </div>
    <div class="col-md-6">
      <ba-card title="验证状态" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card title="单选框&复选狂" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>
    </div>
  </div>

</div>
