<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="鼠标阴影表格" baCardClass="with-scroll table-panel">
        <hover-table></hover-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="带边框表格" baCardClass="with-scroll table-panel">
        <bordered-table></bordered-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="简单的表格" baCardClass="with-scroll table-panel">
        <condensed-table></condensed-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="拉伸表格" baCardClass="with-scroll table-panel">
        <striped-table></striped-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="上下文表格" baCardClass="with-scroll table-panel">
        <contextual-table></contextual-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="响应式表格" baCardClass="with-scroll table-panel">
        <responsive-table></responsive-table>
      </ba-card>
    </div>
  </div>

</div>
