<div class="container">
    <div class="row">
            <!-- 左侧导航 -->
            <div class="col-md-2">
                <ul class="nav nav-list">
                    <li class="list-group-item"><a [routerLink]="['dashboard']">面板首页<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['index']">首页管理 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['aboutGroup']">团队介绍<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['vocationNews']">技术动态 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['priceAdvice']">报价资讯 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['projectProcess']">项目流程 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['goodJobs']"> 招贤纳士<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['suggestions']">意见反馈 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li class="list-group-item"><a [routerLink]="['aboutUs']">关于我们 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </div>
            <!-- 右侧内容 -->
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>