<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <tr>
      <th>#</th>
      <th>名字</th>
      <th>链接</th>
      <th>图标</th>
      <th>状态</th>
    </tr>
    <tr *ngFor="let item of smartTableData"  (mouseenter)="showOperate(item.id)" (mouseleave)="hideOperate()" (dblclick)="lgModal.show()">
      <td class="table-id">{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td><a href="{{ item.link }}">{{ item.link }}</a></td>
      <td><i class="{{ item.icon }}"></i></td>
      <td>
        <button ngClass="{status-button btn btn-xs btn-{{ item.status }}">{{ item.status }}</button>
      </td>
      <div *ngIf="currentId===item.id">
          <ul style="float: left;" *ngFor="let item of links">
            <common-link [link]="item"></common-link>
          </ul>
      </div>
    </tr>
  </table>
</div>

<update-menu></update-menu>
