
.groupBox {
  position: absolute;
  // z-index: 999;


}
.operationBtn {
  margin-left: 0.5em;
}
span{
  width: 50%;
  display: inline-block;
  text-align: center;
  height: auto;

}

.primary{
color:#00abff;
}
a{
  color:#fff;
  cursor: pointer;
}
a:hover{
  color: #40daf1;
}
a:hover{
  color: darken(#40daf1,20%);
}
.success{
  color: #8bd22f;
}
.info{
  color: #40daf1;
}
.warning{
  color: #e7ba08;
}.danger{
  color: #f95372;
}
table{
  text-align: center;
  th,td{
    text-align: center;
  }
}

input[placeholder], [placeholder], *[placeholder] {
  color: pink;
}

input {
  border: 1px solid #ccc;

}
